*{
    margin:20px;
    padding:0;
    box-sizing: border-box;
    
    
}

.container {
    text-align: center;
    margin-top:50px;
}


table{
    margin:auto; 
    margin-top:14px;  
}


input{
    font-size:26px;
    margin-top:47px;
    border: 2px solid black;
    border-radius:20px;
    height:45px;
    width:402px;
    padding: 21px 20px;
}

button{

    font-size: 23px;
    background-color: rgb(116, 230, 209);
    width: 79px;
    height: 45px;
    border-radius: 35px;
    cursor: pointer;
    border: none;
    margin: 10px 15px;
    color:rgb(68, 32, 19);

}

.calculator-container{

    display: inline-block;
    background-color: rgb(119, 155, 167);
    border-radius: 20px;
    margin-top:38px;
}


/***test******/

ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}